<% sender_role = message.sender_id == message.assignment.user_id ? "santa" : "child" %>
<div class="chat-message" data-sender-id="<%= message.sender_id %>" data-sender-role="<%= sender_role %>">
  <div class="chat-bubble">
    <div class="chat-body">
      <%= simple_format(message.body) %>
    </div>
    <div class="chat-meta">
      <span class="chat-time"><%= l(message.created_at, format: :short) rescue message.created_at.strftime("%b %-d %H:%M") %></span>
    </div>
  </div>
</div>
